---
import TextReveal from '@/components/TextReveal.astro'
---

<section
  data-skills
  class="bg-light-brown text-dark-brown py-40 lg:py-52 xl:py-60 px-8 sm:px-16 md:px-20 lg:px-24 xl:px-32"
>
  
</section>

<script>
  import { DOMLoaded } from '@/ts/events'
  import { fadeOut } from '@/ts/animations'

  DOMLoaded(() => {
    const trigger = document.querySelector('[data-skills]') as HTMLElement
    const target = trigger.querySelector('ul') as HTMLElement

    fadeOut(trigger, target)
  })
</script>
